<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Cake Factory</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Cake Factory</h1>
        <h2>Milestone #1</h2>
        <p>Setting Up the Environment and Bootstrapping the Project</p>
        <p>This represents the completion of Milestone #1</p>
    </body>
</html>
